---
layout: default
title: 首页
---

<div class="posts">
<h1 class="chushi"><p style="writing-mode : tb-rl ;">真正的强者,总与孤独相伴,因为无人能懂</p></h1>
</div>

<!--<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">后退</a>
  {% else %}
    <span class="pagination-item older">后退</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">前进</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">前进</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">前进</span>
  {% endif %}
</div>-->

